body, html{
  height:100%;
}
body{
  margin: 0px;
  background: #2C9119 url("img/mario.jpg") no-repeat center center fixed;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.spaz{
  position: absolute;
  background: url('img/spaz.png') no-repeat;
  height: 100px;
  width: 100px;
}

.flashmob{
  position: absolute;
  background: url('img/flashmob.gif') no-repeat;
  height: 100px;
  width: 100px;
}

.mario {
  position:absolute;
  background: url('img/sexymario.gif') no-repeat;
  height:500px;
  width: 500px;
}